      body {
        font-family: "Sono", sans-serif;
      }
      .pricing-container {
        display: flex;
        background-color: white;
        gap: 2rem;
        align-items: center;
        
      }
      .pricing-plan {
        flex: 1;
        background-color: rgb(216, 213, 213);
        border-radius: 5px;
        padding: 20px;
        max-width: 400px;
        align-items: center;
        text-align: center; 
      }
      .plan-title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;   
      }
      .plan-price {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .plan-features {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
        text-align: center;
      }
      .plan-button {
        background-color: #ff6600;
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
      }

      /* Hint: What can you do with a media query and flexbox? */
      @media (max-width: 1250px) {
        .pricing-container {
          flex-direction: column;
          height: 100%;
          
        }
      }
    